/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ralewey', sans-serif; 
	font-size: 16px;
	background-color:  #F78E69;
}
.introduccion{
	background-color: #F78E69;
	color: white;
	width: 100%;
	margin: 0 auto;
	padding: 30px 30px 100px 30px;
}
.introduccion h1{

	font-weight: bolder;
	font-size: 2rem;
	line-height: 2rem;
	text-align: right;
	/*text-transform: uppercase;*/

}
.subtitulo{
text-align: right;

}

#segunda{
background: url('../img/uno.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding:79px 174px 256px 169px
}

.about 
{
	
	color: white;
	width: 50%;
	margin: 30px auto;
	padding: 40px 0px 40px 0px;
	text-align: center;
}
.about h3{
	font-size: 1rem;
}

#tercera{
	background-color: #ABE188


}

.imagen2{
background-image: url('../img/dos.jpg');	
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding:79px 174px 256px 169px

}

.about{
	
	background-color:  #F78E69;

}

.variado {

	color: white;
	width: 40%;
	margin: 0 auto;
	padding: 30px 30px 30px 30px;
}
